<div class="card">
<legend>Upload a resume here</legend>
<form method="post" action=".">
	{% csrf_token %}
	<div class="form-group">
	<label>Filename</label>
	{{form.title}}
	</div>
	<div class="form-group">
	{{form.doc}}
	</div>
	<button class="btn " style="color:white; background:#333;">Upload</button>
</form>
</div>
<br>
<div class="card">
<legend>Upload a job posting here</legend>
<form method="post" action=".">
	{% csrf_token %}
	<div class="form-group">
	<label>Job Posting keywords</label><br>
	{{posting_form.text}}
	</div>
	
	<button class="btn" style="color:white; background:#333;">Upload</button>
</form>
<div>